.decor__main {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 253px;
  .decor__main--image {
    position: relative;
    span.background {
      position: absolute;
      color: #faf9f6;
      font: 169px proximanova-bold;
      opacity: 0.5;
      top: 28%;
      right: 62%;
    }
    img{
       max-width: 150%;
     }
  }

  h2.subtitle {
    font: 36px proximanova-bold;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(0, -100%);
  }
  span.line{
    height: 51px;
    width: 4px;
    background-color: #a9946e;
    position: absolute;
    right: 0%;
    top: 150%;
    transform: translate(32px, 100px);

  }
  .decor__main--text {
    text-align: right;
    padding-right: 200px;
    position: relative;
    h2.title {
      font: 48px 'proximanova-bold';
      text-transform: uppercase;
    }
    h2.title:after {
      content: "";
      height: 1px;
      width: 151px;
      background-color: #000000;
      display: inline-block;
      position: absolute;
      top: 0.5em;
      left: 105%;

    }
    p {
      font: 15px 'proximanova-bold';
      color: #464646;
      position: relative;
      word-wrap: break-word;
      line-height: 1.7em;
      width: 50%;
      transform: translate(100%, 0);
    }
    p:after {
      content: "";
      height: 3px;
      width: 44px;
      background-color: #bea67c;
      display: flex;
      position: absolute;
      top: 0.75em;
      left: 110%;
    }
    span.latterD{
      position: absolute;
      color: #faf9f9;
      font: 385px 'proximanova-bold';
      bottom: 100%;
      transform: translate(0, 7px);
    }


    .learn_more {
      font: 14px proximanova-bold;
      color: #000000;
      text-transform: uppercase;
      display: inline-block;
      a {
        background: transparent;
        outline: none;
        color: #000000;
        text-decoration: none;

      }
      a:after {
        content: "";
        height: 2px;
        width: 44px;
        background-color: #bea67c;
        display: flex;

      }

    }

  }

}
@media screen and (max-width: 1199.98px){
  .decor__main {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 223px;
    .decor__main--image {
      position: relative;
      span.background {
        position: absolute;
        color: #faf9f6;
        font: 169px proximanova-bold;
        opacity: 0.5;
        top: 28%;
        right: 62%;
      }
      img{
        max-width: 150%;
      }
    }

    h2.subtitle {
      font: 36px proximanova-bold;
      text-transform: uppercase;
      position: absolute;
      top: 100%;
      left: 100%;
      transform: translate(0, -100%);
    }
    span.line{
      height: 51px;
      width: 4px;
      background-color: #a9946e;
      position: absolute;
      right: 0%;
      top: 130%;
      transform: translate(32px, 100px);

    }
    .decor__main--text {
      text-align: right;
      padding-right: 200px;
      position: relative;
      h2.title {
        font: 48px 'proximanova-bold';
        text-transform: uppercase;
      }
      h2.title:after {
        content: "";
        height: 1px;
        width: 151px;
        background-color: #000000;
        display: inline-block;
        position: absolute;
        top: 0.5em;
        left: 105%;

      }
      p {
        font: 15px 'proximanova-bold';
        color: #464646;
        position: relative;
        word-wrap: break-word;
        line-height: 1.7em;
        width: 50%;
        transform: translate(100%, 0);
      }
      p:after {
        content: "";
        height: 3px;
        width: 44px;
        background-color: #bea67c;
        display: flex;
        position: absolute;
        top: 0.75em;
        left: 110%;
      }
      span.latterD{
        position: absolute;
        color: #faf9f9;
        font: 365px 'proximanova-bold';
        bottom: 100%;
        transform: translate(8px, 45px);
      }


      .learn_more {
        font: 14px proximanova-bold;
        color: #000000;
        text-transform: uppercase;
        display: inline-block;
        a {
          background: transparent;
          outline: none;
          color: #000000;
          text-decoration: none;

        }
        a:after {
          content: "";
          height: 2px;
          width: 44px;
          background-color: #bea67c;
          display: flex;

        }

      }

    }

  }
}