.footer_wooden {
  overflow: hidden;
  background: url('../image/footer-bg.png') center no-repeat;
  position: relative;

  &:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(3, 3, 3, .9);
  }

  .footer__main {
    font-size: 0;
    z-index: 1;
    position: relative;
    .footer__main--item {
      font: 15px 'proximanova-bold';
      color: #464646;
      display: inline-block;
      width: 33.3%;
      vertical-align: middle;
      padding: 20px 0;
      &.logo {
        font: 30px 'proximanova-bold';
        color: #ffffff;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: .3em;

      }
    }
  }
}