.video_wooden {
  background-image: url("../image/video_main.png");
  background-repeat: no-repeat;
  position: relative;
  padding: 90px 0;
  overflow: hidden;

  .video_player {
    background-image: url("../image/video_player.png");
    background-repeat: no-repeat;
    width: 855px;
    height: 855px;
    position: absolute;
    left: 705px;
    top: 45px;

    }
  .video_line {
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #bea67c;
    border-top: 1px solid #bea67c;
    width: 1422px;
    padding: 200px 0 180px;
    .video {
      .video_text {
        display: inline-block;
        width: 89%;
        vertical-align: middle;
        h2 {
          text-align: left;
          text-transform: uppercase;
          font: 46px/1.3 'proximanova-bold';
          color: #bea67c;
          position: relative;
          width: 45%;
          margin: 0 0 0 190px;
        }
        h2:before {
          content: '';
          display: block;
          border-bottom: 1px solid #6e6e6c;
          width: 150px;
          position: absolute;
          left: -174px;
          top: 30px;
        }
        p {
          text-align: left;
          font: 15px/1.6 'proximanova-bold';
          color: #6e6e6c;
          position: relative;
          margin: 38px 0 0 195px;
          width: 38%;
        }
        p:before {
          content: '';
          display: block;
          border-bottom: 5px solid #bea57d;
          width: 45px;
          position: absolute;
          left: -73px;
          top: 11px;
        }
        .watch_video {
          text-align: left;
          outline: none;
          background: none;
          border-color: #ffffff;
          color: #ffffff;
          box-shadow: none;
          font: 15px 'proximanova-bold';
          padding: 15px 67px 15px 67px;
          margin: 44px 343px 0 0;
          text-transform: uppercase;
          letter-spacing: 3px;
          cursor: pointer;
          vertical-align: middle;
          i{
            font-size: 24px;
            vertical-align: middle;
          }
        }
      }
      .video_text_line {
        display: inline-block;
        width: 10%;
        vertical-align: middle;
        position: relative;
       }
      .video_text_line:before {
        content: '';
        border-left: 1px solid #ffffff;
        height: 150px;
        margin: 0 0 0 50px;
        position: absolute;
        left: 160px;
        top: -85px;
      }
    }
  }
}
@media screen and (max-width: 1024px){
  .video_wooden {
        .video_player {
      position: absolute;
      left: 105px;
      top: 45px;
    }
    .video_line {
       .video {
        .video_text {
           h2 {
            text-align: left;
            text-transform: uppercase;
            font: 46px/1.3 'proximanova-bold';
            color: #bea67c;
            position: relative;
            width: 45%;
            margin: 0 0 0 100px;
          }
          p {
            text-align: left;
            font: 15px/1.6 'proximanova-bold';
            color: #6e6e6c;
            position: relative;
            margin: 38px 0 0 105px;
            width: 38%;
          }
          .watch_video {
            text-align: left;
            outline: none;
            background: none;
            border-color: #ffffff;
            color: #ffffff;
            box-shadow: none;
            font: 15px 'proximanova-bold';
            padding: 15px 67px 15px 67px;
            margin: 44px 513px 0 0;
            text-transform: uppercase;
            letter-spacing: 3px;
            cursor: pointer;
            vertical-align: middle;
           }
        }
      }
    }
  }
}
@media screen and (max-width: 640px){
  .video_wooden {
    overflow: hidden;
      .video_player {
      display: none;
    }
    .video_line {
      padding: 80px 0 160px;
      .video {
         .video_text {
          h2 {
            text-align: center;
            text-transform: uppercase;
            font: 30px/1.3 'proximanova-bold';
            color: #bea67c;
            position: relative;
            width: 23%;
            margin: 0 0 0 -70px;
          }
           h2:before{
             content: '';
            display: none;
          }
          p {
            text-align: justify;
            font: 15px/1.6 'proximanova-bold';
            color: #6e6e6c;
            position: relative;
            margin: 38px 0 0 -65px;
            width: 23%;
          }
          p:before{
            content: '';
            display: none;
          }
          .watch_video {
            text-align: left;
            outline: none;
            background: none;
            border-color: #ffffff;
            color: #ffffff;
            box-shadow: none;
            font: 15px 'proximanova-bold';
            padding: 10px 37px 10px 37px;
            margin: 44px 0 0 0;
            text-transform: uppercase;
            letter-spacing: 3px;
            cursor: pointer;
            vertical-align: middle;
            position: absolute;
            left: 65px;
            top: 490px;
          }
        }
      }
    }
  }
}